# Ignore Visual Studio files
.vs/
.vs2019/
*.vscode/

# Node.js modules
node_modules/

# Environment files
.env

# Build output directories
/dist/
build/

# Ignore log files
*.log

# Ignore the VSIX file index
*.vsix
